defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    # Проверка доступности (check) согласно заданию
    server server1 backend1:3000 check
    server server2 backend2:3000 check
    server server_backup backend_backup:3000 check backup # Последняя строчка всегда должна быть пустой (глупость какая-то)
